// Fonts
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 1.5rem;

// Colors
$dark: hsl(233, 12%, 13%);
$light: hsl(0, 0%, 98%);
$danger: hsl(12, 88%, 59%);
$secondary: hsl(227, 12%, 61%);
$primary: hsl(228, 39%, 23%);

// Shadow
$box-shadow: 0 0.5rem 1rem hsla(228, 39%, 23%, 0.089);
